<DOCTYPE! html>
<html>
<head>

</head>

<body>
    <h1>SongWriter</h1>
    <h4>Please log in to your account.</h4><br>
	<p>The username and password you entered did not match our records. Please double-check and try again</p>
    <form action="/sessions" method= "post">
        <label for="user_username"><b>Username</b><label><br>
        <input type="text" placeholder="Enter Username" id="user_username" name="username"><br>
    
        <label for="user_password"><b>Password</b><label><br> 
        <input type="password" placeholder="Enter Password" id="user_password" name="password"><br>
    
        <button type="submit" class="login_button">Log In</button>    
    </form>
    <br><br>
    <a href="/signup">Register</a><br>
</body>

</html>