@media screen {
    * {
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* Style the top navigation bar */
    .topnav {
        overflow: hidden;
        background-color: #bab2b5;
    }

    /* Style the topnav links */
    .topnav a {
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    /* Change color on hover */
    .topnav a:hover {
        background-color: #ac3b61;
        color: #f2f2f2;
    }

    .topnav a:active {
        background-color: #ac3b61;
        color: #f2f2f2;
    }

    /* Style the content */
    .content {
        background-color: #f0ddd6;
        padding: 10px;
    
    }

    .wrapper {
        background: #f0ddd6;
        -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
        box-shadow: 0 0 10px rgba(0,0,0,.3);
        margin: 0px auto;
        padding: 2.25%;
    }

    /* Style the footer */
    .footer {
        background-color: #123c69;
        padding: 5px 16px;
        color: #f2f2f2;
    }

    .branding {
        clear: both;
      }
    
    footer.branding {
        border-top: 2px solid #123c69;
        margin-top: 20px;
        padding-top: 20px;
      }
    }
    
    .home-center, .signup-center {
        text-align: center;
    }


    input[type=text] {
        width: 35%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

    input[type=password] {
        width: 35%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
      
    input[type=submit], .edit-link a, .cancel-link a {
        width: 35%;
        background-color: #ac3b61;
        color: white;
        font-size: 14px;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
    }
      

    ul {
        background: #eee2dc;
        padding: 20px;
    }
      
    ul li {
        background: #edc7b7;
        margin: 5px;
        padding: 5px;
    }

    

    h1 {
        font-size: 36px;
        line-height: 54px;
    }

    h2 {
        border-bottom: 2px solid #bab2b5;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 16px;
    }

    h3 {
        font-size: 18px;
        line-height: 36px;
    }

    p {
        margin-bottom: 18px;
    }
}