<form action="/users/<%= @user.id %>" method="post">
    <label for="user_first_name"><b>Name</b><label><br>
    <input type="text" placeholder="Enter First Name" id="user_first_name" name="user[first_name]"><br><br>  

    <label for="user_last_name"><b>Name</b><label><br>
    <input type="text" placeholder="Enter First Name" id="user_last_name" name="user[last_name]"><br><br>  

    <label for="user_username"><b>Username</b><label><br>
    <input type="text" placeholder="Enter Username" id="user_username" name="user[username]"><br><br>

    <label for="user_password"><b>Password</b><label><br> 
    <input type="password" placeholder="Enter Password" id="user_password" name="user[password]"><br><br>

    <input type="submit" value="Create">    
</form>

