<h1>Create Your Account</h1>

<form action="/users" method="post">
    <label for="user_name"><b>Name</b><label><br>
    <input type="text" placeholder="Enter Name" id="user_name" name="name"><br><br>  

    <label for="user_username"><b>Username</b><label><br>
    <input type="text" placeholder="Enter Username" id="user_username" name="username"><br><br>

    <label for="user_password"><b>Password</b><label><br> 
    <input type="password" placeholder="Enter Password" id="user_password" name="password"><br><br>
    <p>You must enter a password.</p><br>

    <button type="submit" class="create_account_button">Create</button>    
</form>
