<h3>My Profile</h3>

<div class="profile">
<p>First Name: <%= current_user.first_name %></p>
<br>
<p>Last Name: <%= current_user.last_name %></p>
<br>
<p>Username: <%= current_user.username %></p>
<br>
<br>
<p><a href="/users/<%= @user.id %>/edit">Edit Profile</a>

