<div>
<h2>My Songs</h2> 
<ul>    
    <% @songs.each do |song| %>
        <li>
            <a href="/songs/<%= song.id %>"><%= song.title %></a>
        </li>
    <% end %>
</ul>
</div>

<div>
<h2>My Setlists</h2> 
<ul>    
    <% @setlists.each do |setlist| %>
        <li><a href="/setlists/<%= setlist.id %>"><%= setlist.event %></a></li>
    <% end %>
</ul>
</div>
