<form action="/songs" method="post">
    <label for="song_title"><h3>Title</h3></label>
    <textarea id="song_title" name="song[title]" rows="1" cols="100"></textarea><br>

    <label for="song_themes"><h3>Theme(s)</h3></label>
    <textarea id="song_themes" name="song[themes]" rows="5" cols="120"></textarea><br>

    <label for="song_notes"><h3>Notes</h3></label>
    <textarea id="song_notes" name="song[notes]" rows="15" cols="120"></textarea><br>

    <label for="song_lyrics"><h3>Lyrics</h3></label>
    <textarea id="song_lyrics" name="song[lyrics]" rows="50" cols="120"></textarea><br><br>  

    <input type="submit" value="Save">    
</form>
